# Playwright test artifacts
reports/
test-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Videos from failed tests
videos/

# Screenshots from failed tests
screenshots/

# Node modules
node_modules/
